@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Great+Vibes&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Unlock&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Playwrite', sans-serif;
    background-image: url(../assents/cadastro.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    overflow-x: hidden;
    flex-direction: column;  
    min-height: 100vh;  
   
}


:root {
    --tamanho-header: 80px;
    --tamanho-banner: calc(50vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px); 
    --tamanho-footer: 40px;
    

}

.header {
    height:var(--tamanho-header);

}

.titulo {
    display: flex;
    color: #fc6500;
    width: fit-content;
    align-items: center;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}
.header a{
    font-size: 24px;
}
.botao-Nav{
    transition: transform 0.8s, background-color 0.8s, border 0.8s;
    padding: 5px;

}
.botao-Nav:hover {
    background-color: #00000063;
    transform: translateY(-5px);
    border: 2px #ff5e00;
    border-radius: 15px;
}




.container {
    display: flex;
    justify-content: center;
}

.header .container{
    justify-content: space-between;
    align-items: center;
    margin-right: 100px;
    height: 100%;

}

.header a{
text-decoration: none;
color: orange;

}
.header .li2{
    text-decoration: none;
    color: #e3b062;
    
    }


.agora {
    font-weight: 800;

}

.navbar {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    list-style:none;
    color: #e3b062;
    
}



.banner{
    display: flex;
    height: auto;  
    justify-content: flex-end; 
    align-items: flex-start; 
    justify-content: end;
    margin: 5%;
    color: #e3af62b6;
    font-family: "Unlock", serif;
  font-weight: 400;
  font-style:oblique;


}

  
.banner p{
    color: #e3af62ab;
    font-family: "Unlock", serif;
  font-weight: 400;
  font-style:oblique;
  font-size: 30px;
}
.botao-A{
    display: inline-block; 
    margin-top: 10px;  
    align-items: end;
    width: 300px;
    padding: 10px;
    background-color: #ff5e0075;
    border: none;
    border-radius: 7px;
    font-family: "Great Vibes", cursive;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    transition: transform 0.8s, background-color 0.8s, border 0.8s;
    right: 35%;      
    bottom: 20px; 
}
.botao-A:hover {
    background-color: #000;
    transform: translateY(-5px);
    border: 2px solid #ff5e00;
}


/* footer */

.footer {
    background-color: #33333391; 
    color: white; 
    text-align: center; 
    padding: 5px; 
    position: relative; 
    width: 100%; 
    bottom: 0; 
    margin-top: auto;
    
}

footer p {
    font-family: "Unlock", serif;
    font-weight: 400;
    font-style: oblique;
    font-size: 14px;
}


/*cadastro*/




.card {
    background-color: rgba(0, 0, 0, 0.7); 
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: -3px 4px 10px rgba(255, 94, 0, 0.726);
    margin: 15px;
    
}

.card h2{
    text-align: center;
}


.formulario {
    padding: 5%;
}

.campo {
    padding: 2%;
}

.iptCampos {
    text-align: center;
    padding: 10px;
    border: 2px solid #ff5e00;
    border-radius: 5px;
    width: 90%;
    background-color: transparent;
    color: #ffffff;
    outline: none;
}

.formulario button {
    /* margin-top: 5%; */
    margin-bottom: 7px;
    width: 100%;
    padding: 10px;
    background-color: #ff5e00;
    border: none;
    border-radius: 7px;
    font-weight: 800;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    transition: transform 0.8s, background-color 0.8s, border 0.8s;
}

.botao {
    margin-top: 5%;
    width: 100%;
    padding: 10px;
    background-color: #ff5e00;
    border: none;
    border-radius: 7px;
    font-weight: 800;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    transition: transform 0.8s, background-color 0.8s, border 0.8s;
}

.botao:hover {
    background-color: #000;
    transform: translateY(-5px);
    border: 2px solid #ff5e00;
}
