@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Great+Vibes&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Unlock&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Playwrite', sans-serif;
    background-image: url(../assents/215698.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #c4742a;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
    overflow-x: hidden;
}


:root {
    --tamanho-header: 80px;
    --tamanho-banner: calc(50vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px); 
    --tamanho-footer: 40px;
    

}

.header {
    height:var(--tamanho-header);

}

.titulo {
    display: flex;
    color: #fc6500;
    width: fit-content;
    align-items: center;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}
.header a{
    font-size: 24px;
}
.botao-Nav{
    transition: transform 0.8s, background-color 0.8s, border 0.8s;
    padding: 5px;

}
.botao-Nav:hover {
    background-color: #00000063;
    transform: translateY(-5px);
    border: 2px #ff5e00;
}


.container {
    display: flex;
   
    margin-right: 100px;
    justify-content: center;
}

.header .container{
    justify-content: space-between;
    align-items: center;
    height: 100%;

}

.header a{
text-decoration: none;
color: orange;

}
.header .li2{
    text-decoration: none;
    color: #e3b062;
    
    }


.agora {
    font-weight: 800;

}

.navbar {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    list-style:none;
    color: #e3b062;
    
}



.banner{
    display: flex;
    height: auto;  
    justify-content: flex-end; 
    align-items: flex-start; 
    justify-content: end;
    margin: 5%;
    color: #e9a43de5;
    font-family: "Unlock", serif;
  font-weight: 400;
  font-style:oblique;


}

  
.banner p{
    color: #e3af62ab;
    font-family: "Unlock", serif;
  font-weight: 400;
  font-style:oblique;
  font-size: 30px;
}
.botao-A{
    display: flex; 
    flex-direction: column;
    margin-top: 10px;  
    align-items: center;
    width: 300px;
    padding: 10px;
    background-color:transparent;
    
    border-radius: 7px;
    font-family: "Great Vibes", cursive;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    transition: transform 0.8s, background-color 0.8s, border 0.8s;
    right: 35%;      
    bottom: 30px; 
}

.botao-B{
    display: flex; 
    flex-direction: column;
    margin-top: 10px;  
    align-items: center;
    width: 300px;
    padding: 10px;
    background-color:transparent;
    border-radius: 7px;
    font-family:fantasy;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    cursor: pointer;
    transition: transform 0.8s, background-color 0.8s, border 0.8s;
    right: 35%;      
    bottom: 30px; 
    margin-bottom: 30px;
}
.botao-B:hover {
    background-color: #ff2600;
    transform: translateY(-5px);
    border: 2px solid #000000;
}

.botao-A:hover {
    background-color: #ff2600;
    transform: translateY(-5px);
    border: 2px solid #000000;
}

.inicio{
    display: flex;
    flex-direction: column;  
    justify-content: center;  
    align-items: center; 
    text-align: justify; 
    
    
    
}

.inicio h1{
    font-style: italic;
    font-family: "Great Vibes", cursive;
    font-size: 50px; 
    color: #000000; 
    position: relative;
    display: inline-block;
    overflow: hidden; 
    z-index: 1;
}
.card {
    background-color: rgba(0, 0, 0, 0.938); 
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: -3px 4px 10px rgba(255, 94, 0, 0.726);
    margin: 70px;
    margin-top: 10px;
    
}
.inicio h3{
    font-style:normal;
    font-size: 70px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    color: #ffffff; 
    position: relative;
    display: inline-block;
    overflow: hidden; 
    z-index: 1;
    justify-content: center;
    text-align: justify;
    
}

.inicio h4 {
    font-style: italic;
    font-size: 90px;
    font-family: "Great Vibes", cursive; 
    color: #ff0000; 
    display: inline-block;
    text-align: center;
    overflow: hidden; 
    z-index: 1;
    -webkit-text-fill-color: black; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    animation: glowEffect 3s infinite; 
    margin-bottom: 5px;
}



@keyframes glowEffect {
    0% {
        text-shadow: 2px 2px 4px rgb(255, 255, 255);
    }
    50% {
        text-shadow: 4px 4px 8px rgb(255, 0, 0);
    }
    100% {
        text-shadow: 2px 2px 4px rgb(255, 255, 255);
    }
}

.inicio h5 {
    font-style: italic;
    font-size: 60px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color: #ff0000; 
    display: inline-block;
    text-align: center;
    overflow: hidden; 
    z-index: 1;
    -webkit-text-fill-color: black; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    animation: efeitotop2 3s infinite; 
    margin-bottom: 5px;
}
@keyframes efeitotop2 {
    0% {
        text-shadow: 2px 2px 4px rgb(255, 255, 255);
    }
    50% {
        text-shadow: 4px 4px 8px rgb(255, 255, 255);
    }
    100% {
        text-shadow: 2px 2px 4px rgb(255, 255, 255);
    }
}
.pulsar {
    display: inline-block; 
    animation: pulsar 1.5s infinite ease-in-out; 
    transform-origin: center; 
}

/* Animação de pulsação */
@keyframes pulsar {
    0% {
        transform: scale(1);
        opacity: 1; 
        color: #ff0000;
    }
    50% {
        transform: scale(1.7); 
        opacity: 0.8; 
        color: #ff0000;
    
    }
    100% {
        transform: scale(1);
        opacity: 1; 
        
    }
}

.inicio h3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent 50%, #ff3300 50%); 
    background-size: 200% 100%; 
    background-position: -100% 0; 
    animation: rastro 2s linear infinite; 
    z-index: -1;
}
@keyframes rastro {
    0% {
        background-position: -100% 0;
    }
    100% {
        background-position: 100% 0;
    }
}


.imagem-container {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 16px; 
    justify-items: center; 
    padding: 30px;
    width: 100%;
    box-sizing: border-box; 
    
}


.imagem-container img {
    width: 50%; 
    height: auto; 
    border-radius: 8px; 
    cursor: pointer; 
   
}

.imagemtexto{
    display: inline;
    justify-content: center;
    align-items: center;
    border: 2px solid #bbbbbb; 
      border-radius: 8px; 
      margin: 10px; 
      box-shadow: 3px 3px 8px rgba(255, 255, 255, 0.863);
}



.imagemtexto2{
    
    display: inline; 
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
    gap: 10px;
    border: 2px solid #bbbbbb; 
      border-radius: 8px; 
      margin: 10px; 
      box-shadow: 3px 3px 8px rgba(255, 255, 255, 0.863);
}

/* footer */

.footer {
    background-color: #33333391; 
    color: white; 
    text-align: center; 
    padding: 5px;
    position: relative; 
    width: 100%; 
    bottom: 0; 
    margin-top: auto;
}

footer p {
    font-family: "Unlock", serif;
    font-weight: 400;
    font-style: oblique;
    font-size: 14px;
}

