@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Great+Vibes&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Unlock&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Playwrite', sans-serif;
    background-image: url(../assents/o\ esporte\ capa);
    background-repeat: no-repeat;
    background-size: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    
}


:root {
    --tamanho-header: 80px;
    --tamanho-banner: calc(50vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px); 
    --tamanho-footer: 40px;
    

}

.header {
    height:var(--tamanho-header);

}

.titulo {
    display: flex;
    color: #fc6500;
    width: fit-content;
    align-items: center;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}
.header a{
    font-size: 24px;
}
.botao-Nav{
    transition: transform 0.8s, background-color 0.8s, border 0.8s;
    padding: 5px;

}
.botao-Nav:hover {
    background-color: #00000063;
    transform: translateY(-5px);
    border: 2px #ff5e00;
}


.container {
    display: flex;
   
    margin-right: 100px;
    justify-content: center;
}

.header .container{
    justify-content: space-between;
    align-items: center;
    height: 100%;

}

.header a{
text-decoration: none;
color: orange;

}
.header .li2{
    text-decoration: none;
    color: #e3b062;
    
    }


.agora {
    font-weight: 800;

}

.navbar {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    list-style:none;
    color: #e3b062;
    
}



.banner{
    display: flex;
    height: auto;  
    justify-content: flex-end; 
    align-items: flex-start; 
    margin-right: 5%;
    margin-left: 35%;
    color: #fffffffb;
    font-family: "Unlock", serif;
  font-weight: 400;
  font-style:oblique;


}
.banner span{
    display: flex;
    flex-direction:row-reverse;
    margin-right: 10%;
    
    
}

  
.banner h1{
    color: #fffffff8;
    font-family: "Great Vibes", cursive;;
  font-weight: 400;
  font-style:oblique;
  font-size: 50px;
}
.sobre p{
    display: block;
    color: #fffffff8;
    font-family: 'Times New Roman', Times, serif;
  font-weight: 200;
  font-style:oblique;
  font-size: 20px;
  display: flex;
    flex-direction: row;
    margin-left: 40%;
    margin-right:10% ;
    text-align: justify;
    
    
}

.pontos {
    display:inline-flex; 
    align-items: center;
    justify-items: center;
    cursor: pointer; 
    padding: 10px; 
    background-color: transparent; 
    border-radius: 100%; 
    width:50px;
    transition: all 0.8s ease; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    margin-inline: 60px;

  }
  
  .pontos:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 15px rgba(255, 165, 0, 0.8); 
    border: 2px solid rgba(255, 165, 0, 0.8); 
  }
  
  
  .pontos svg {
    display: flex; 
    margin: 0 auto; 
    transition: transform 0.3s ease; /* Transição suave para o ícone */
  }
  .pontos img {
    display: flex; 
    margin: 0 auto; 
    transition: transform 0.3s ease; 
  }
  
  
  .pontos:hover svg {
    transform: scale(1.3); 
  }


  .informativos{
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin-left: 400px;
  }

  .saude{
    display: none;
    align-items: flex-start;
    flex-direction:row;

    
  }

  
 
   #saude .saude{
    display: flex;
   
    justify-content: baseline;
  }

  .lazer{
    display: none;
  }
  .competicao{
    display: none;
  }
  

.botao-A{
    display: inline-block; 
    margin-top: 10px;  
    align-items: end;
    width: 300px;
    padding: 10px;
    background-color: #ff5e0075;
    border: none;
    border-radius: 7px;
    font-family: "Great Vibes", cursive;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    transition: transform 0.8s, background-color 0.8s, border 0.8s;
    right: 35%;      
    bottom: 20px; 
}
.botao-A:hover {
    background-color: #000;
    transform: translateY(-5px);
    border: 2px solid #ff5e00;
}


/* footer */

.footer {
    background-color: #33333391; 
    color: white; 
    text-align: center; 
    padding: 5px; 
    position: relative; 
    width: 100%; 
    bottom: 0; 
    margin-top: auto;
}

footer p {
    font-family: "Unlock", serif;
    font-weight: 400;
    font-style: oblique;
    font-size: 14px;
}

/* Ajuste para garantir que o footer fique no final da página, mesmo quando o conteúdo for pequeno */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garantir que o conteúdo ocupe toda a altura da tela */
    margin: 0;
}



