@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Great+Vibes&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Unlock&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Playwrite', sans-serif;
    background-image: url(../assents/o\ esporte\ capa);
    background-color: #000;
    background-repeat: no-repeat;
    background-size: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    
    
}


:root {
    --tamanho-header: 80px;
    --tamanho-banner: calc(50vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px); 
    --tamanho-footer: 40px;
    

}

.header {
    height:var(--tamanho-header);

}

.titulo {
    display: flex;
    color: #fc6500;
    width: fit-content;
    align-items: center;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}
.header a{
    font-size: 24px;
}
.botao-Nav{
    transition: transform 0.8s, background-color 0.8s, border 0.8s;
    padding: 5px;

}
.botao-Nav:hover {
    background-color: #00000063;
    transform: translateY(-5px);
    border: 2px #ff5e00;
}


.container {
    display: flex;
   
    margin-right: 100px;
    justify-content: center;
}

.header .container{
    justify-content: space-between;
    align-items: center;
    height: 100%;

}

.header a{
text-decoration: none;
color: orange;

}
.header .li2{
    text-decoration: none;
    color: #e3b062;
    
    }


.agora {
    font-weight: 800;

}

.navbar {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    list-style:none;
    color: #e3b062;
    
}



.banner{
    display: flex;
    height: auto;  
    justify-content: flex-end; 
    align-items: flex-start; 
    margin-right: 5%;
    margin-left: 35%;
    color: #fffffffb;
    font-family: "Unlock", serif;
  font-weight: 400;
  font-style:oblique;


}
.banner span{
    display: flex;
    flex-direction:row-reverse;
    margin-right: 10%;
    
    
}

  
.banner h1{
    color: #fffffff8;
    font-family: "Great Vibes", cursive;;
  font-weight: 400;
  font-style:oblique;
  font-size: 50px;
}
/* Centraliza o primeiro texto à direita da tela */
.sobre #texto {
  display: flex;
  align-items: end;
  text-align: justify;
  margin-left: 500px;
  margin-right: 70px;
  padding: 0;
  color: #fff;
}

/* Configura o layout das divs clicáveis */
.informativos {
  display: flex;
  justify-content:center;
  margin-right: 5px;
  
  
}

.informativos .pontos {
  cursor: pointer;
  padding: 10px;
  transition: transform 0.2s;
  margin-left: 350px;
}



.informativos .pontos:hover {
  transform: scale(1.1);
}

/* Oculta inicialmente as divs de conteúdo */
.saude, .lazer, .competicao {
  display: none;
  text-align: center;
  align-items: center;
  
  margin: 10px;
  padding: 15px;
  gap: 20px;
 
  border-radius: 5px;
}


.saude img {
  max-width: 30%; /* Garante que a imagem não ultrapasse metade da largura da div */
  height: auto; /* Mantém a proporção da imagem */
}
#ibira {
  display: flex; /* Flexbox para centralizar os itens */
  justify-content: center; /* Centraliza as imagens horizontalmente */
  align-items: center; /* Centraliza as imagens verticalmente */
  flex-wrap: wrap; /* Permite que as imagens quebrem linha, caso necessário */
  gap: 10px; /* Espaçamento entre as imagens */
  border: 2px solid #bbbbbb; 
  border-radius: 8px; 
  margin: 10px; 
  box-shadow: 3px 3px 8px rgba(255, 255, 255, 0.863);
}

#ibira img {
  border: 2px solid #bbbbbb; /* Define a borda das imagens */
  border-radius: 5px; /* Borda arredondada, se necessário */
  padding: 5px; /* Adiciona um pequeno espaço entre a borda e a imagem */
}

.saude p {
  display: flex;
  text-align: justify;
  margin: 0;
  padding: 0;
  
}


.saude p, .lazer p, .competicao p {
  margin: 0;
  padding: 0;
  text-align: justify;
  color: aliceblue;
}


/* Garante que o layout seja responsivo */
@media (max-width: 768px) {
  .informativos {
      flex-direction: column;
      align-items: center;
  }

  .informativos .pontos {
      margin-bottom: 10px;
  }
}


.botao-A {
  display: flex; /* Altera para flexbox */
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  margin-top: 10px;  
  width: 300px;
  padding: 10px;
  background-color: transparent;
  border: none;
  border-radius: 7px;
  font-family: "Great Vibes", cursive;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  transition: transform 0.8s, background-color 0.8s, border 0.8s;
  bottom: 20px;
}
.botao-A:hover {
    background-color: #000;
    transform: translateY(-5px);
    border: 2px solid #ff5e00;
}


/* footer */

.footer {
    background-color: #33333391; 
    color: white; 
    text-align: center; 
    padding: 5px; 
    position: relative; 
    width: 100%; 
    bottom: 0; 
    margin-top: auto;
}

footer p {
    font-family: "Unlock", serif;
    font-weight: 400;
    font-style: oblique;
    font-size: 14px;
}





